" Load common
source ~/.config/common.vim

" 補完Up/Down (補完移動ではないけど，他に方法がないので)
imap <S-Tab> <Action>(EditorDown)
imap <D-Tab> <Action>(EditorUp)

" 補完確定
imap <S-CR> <Action>(EditorChooseLookupItem)

" Normalに戻る
imap <S-Space> <ESC>
tmap <S-Space> <ESC>
vmap <S-Space> <ESC>
